@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.nav {
  position: absolute;
  width: 45px;
  height: 100%;
  background: #232830;
  z-index: 5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0px 0px;
  transition: 0.3s;
}

.navLogo {
  margin-bottom: 40px;
  color: rgb(0, 123, 255);
  font-weight: 700;
  cursor: default;
}

.navA {
  min-height: 50px;
  color: #E8E8E8;
  padding: 13px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navA .navP {
  margin-left: 10px;
  display: none;
}
.navA:hover {
  background: rgba(169, 206, 254, 0.337254902);
  transition: 0.4s;
}

.active {
  background: rgba(119, 169, 255, 0.5176470588);
  color: #E8E8E8;
}
.active:hover {
  background: #77a9ff;
  transition: 0.5s;
}

.navImg {
  display: flex;
}
.navImg:hover {
  background: rgba(253, 241, 104, 0.337254902);
  transition: 0.4s;
}

.fa-arrow-left {
  width: 220PX;
}

.wrapperProfile {
  display: flex;
  max-width: 1980px;
  height: 100%;
  margin: 0px 20px 0px 70px;
  color: #50545B;
  font-size: 16px;
}

.profileName,
.profilEmail,
.profilRole {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px;
}

.profile {
  margin: 50px 20px 30px 0px;
  padding: 0px 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2745098039);
  border-radius: 15px;
}

.profileBox {
  margin-bottom: 20px;
}

.profilEdit {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  background-color: #18A0FB;
  color: #F2F2F2;
  margin: 18px 0px 18px;
  font-weight: 600;
  transition-duration: 0.4s;
}

.profileAvatar {
  width: 220px;
  height: 220px;
  background: #ff7a85;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 50px 0px 36px;
}

.tableProfile {
  margin: 50px auto;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input:focus {
  outline: none;
}

.wrapper {
  color: #50545B;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: start;
}

.colorColumn {
  background: #18A0FB;
  min-width: 15px;
  margin-right: 20px;
  height: 100%;
  transition-duration: 1s;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menuAuth {
  width: 30%;
  max-width: 380px;
  min-width: 280px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 1px 6px 19px 0px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  margin: 0px 20px 0px 0px;
  background: #ffffff;
}

.imageContainer {
  width: 70%;
  height: 50%;
}

.imageContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.menuRegister {
  width: 30%;
  max-width: 380px;
  min-width: 280px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 6px 19px 0px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  margin: 0px 20px 0px 0px;
}

.menuAuth input {
  width: 245px;
  height: 35px;
  background: #EEF1F6;
  color: #50545B;
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}

.menuAuth input:focus {
  border: 1px solid #1588d4;
  transition-duration: 0.4s;
}

.menuRegister input {
  width: 245px;
  height: 35px;
  background: #F6F3EE;
  color: #50545B;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.menuRegister input:focus {
  border: 1px solid #EB7A00;
  transition-duration: 0.4s;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 50px 0px 35px;
}

.loginBtnContainer,
.registerBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  background-color: #18A0FB;
  color: #F2F2F2;
  margin: 30px 0px 18px;
  font-weight: 600;
  transition-duration: 0.4s;
}

.signIn:hover {
  width: 200px;
}

.signIn:active {
  color: #18A0FB;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.signUp {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  background-color: #EB7A00;
  color: white;
  margin: 10px 0px 18px;
  font-weight: 600;
  transition-duration: 0.4s;
}

.signUp:hover {
  width: 200px;
}

.signUp:active {
  color: #EB7A00;
  border: 1px solid #EB7A00;
  background-color: white;
}

.goToSignUp,
.goToSignIn {
  width: 108px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #6B708A;
  color: #6B708A;
  background: white;
  font-size: 12px;
  font-weight: 600;
  transition-duration: 0.4s;
}

.goToSignUp:hover,
.goToSignUp:active {
  color: #18A0FB;
  border: 1px solid #18A0FB;
}

.goToSignIn:hover,
.goToSignIn:active {
  color: #EB7A00;
  border: 1px solid #EB7A00;
}

@media screen and (max-width: 700px) {
  h1 {
    margin: 30px 0px 30px;
  }
  .row {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuAuth {
    margin: 0px;
    margin-right: 7px;
  }
  .menuRegister {
    margin: 0px;
  }
  .menuAuth input {
    width: 200px;
  }
  .menuRegister input {
    width: 200px;
  }
  .signIn {
    margin: 20px 0px 18px;
  }
  .imageContainer {
    display: none;
  }
  .paginationElement {
    position: absolute;
    bottom: 40px;
    left: 2px;
    background: #F7F8F9;
  }
  .gridjs-footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 70px !important;
    padding: 10px;
    float: none;
  }
  .gridjs-summary {
    margin: 5px 0px 7px 0px !important;
  }
  .gridjs-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridjs-pages {
    float: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fc-toolbar {
    align-items: center !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
  }
  .fc-toolbar-chunk {
    margin-bottom: 7px;
  }
  .fc-toolbar-chunk:nth-child(2) {
    order: 3;
  }
  .calendar {
    margin: 20px auto 40px;
  }
  .profile {
    margin: 20px 20px 20px 0px;
  }
  .wrapperProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableProfile {
    margin: 20px 20px 20px 0px;
    max-width: 100%;
    overflow: auto;
  }
}
@media screen and (max-width: 500px) {
  .gridjs-search {
    float: none !important;
    width: 100% !important;
  }
  .gridjs-search-input {
    padding: 10px 5px !important;
    width: 100%;
  }
  .messege_content {
    min-width: 200px;
  }
  .input_container_flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input_container_flex p {
    margin-bottom: 3px;
  }
  .messege_input {
    width: 200px;
  }
}
input:focus {
  outline: none;
}

.messege {
  padding: 0px 15px 0px 60px;
  background: rgba(255, 255, 255, 0.7058823529);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  overflow: auto;
}
.messege_content {
  margin: 8% auto;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.2588235294);
  background: #ffffff;
  max-width: 600px;
  min-width: 380px;
  border-radius: 10px;
}
.messege_input p {
  margin: 0px 0px 10px 20px;
}
.messege_input {
  padding: 0px 6px;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  background: #d8efff;
}

.input_container {
  width: 80%;
  margin: 20px auto 30px;
}
.input_container_flex {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBtnMenu {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

h3 {
  background: #18A0FB;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  padding: 15px 0px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  color: white;
}

.addBtn,
.dismissalBtn,
.editBtn,
.addEvent {
  width: 110px;
  height: 30px;
  border-radius: 6px;
  color: #ffffff;
  background: #18A0FB;
  margin-right: 10px;
  transition: 0.6s;
}

.addBtn:hover,
.dismissalBtn:hover,
.editBtn:hover {
  color: #18A0FB;
  background: #ffffff;
  border: 1px solid #18A0FB;
  transition: 0.6s;
}

.closeMessage {
  width: 110px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #858585;
  color: #858585;
  background: white;
  transition: 0.4s;
}

.closeMessage:hover {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  transition: 0.4s;
}

.eventTitleStr {
  width: 200px;
}

.wrapper {
  width: 99%;
}

.pageTitle {
  top: 35px;
  left: 80px;
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  color: #232830;
}

.contaiter {
  min-height: 100%;
  position: relative;
}

.btnWrapper {
  top: 97px;
  left: 67px;
  position: absolute;
  z-index: 1;
}

.createPerson {
  width: 165px;
  height: 41.5px;
  border-radius: 6px;
  color: #EEF1F6;
  background: #18A0FB;
  transition: 0.6s;
  margin-right: 10px;
}

.createPerson:hover {
  color: #18A0FB;
  background: #ffffff;
  border: 1px solid #18A0FB;
  transition: 0.6s;
}

.createPerson:active {
  border: 4px solid #18A0FB;
  transition: 0.2s;
}

.dismissalPerson {
  width: 165px;
  height: 41.5px;
  background: #FFFFFF;
  color: #555658;
  border: 1px solid #8C8E96;
  border-radius: 6px;
  margin: 0px 5px 0px 0px;
  transition: 0.6s;
}

.dismissalPerson:hover {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  transition: 0.4s;
}

.dismissalPerson:active {
  border: 4px solid #18A0FB;
  transition: 0.2s;
}

.gridjs-search {
  float: right;
}

.table {
  margin-top: 50px;
  width: 100%;
  padding: 40px 0px 0px 60px;
}
.table_noBtn {
  margin-top: 20px;
}

th.gridjs-th {
  background: #F7F8F9;
  padding-top: 10px;
}

.gridjs-footer {
  background: rgba(240, 241, 243, 0.5058823529);
}

.gridjs-pagination .gridjs-pages button:first-child:hover {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  transition: 0.4s;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
  border-radius: 6px;
  border: 1px solid #18A0FB;
  transition: 0.4s;
}

.gridjs-pagination .gridjs-pages button:last-child:hover {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  transition: 0.4s;
}

.gridjs-pages button {
  color: #555658;
  border-radius: 6px;
  border: 1px solid #8C8E96;
  transition: 0.4s;
}

.paginationElement {
  position: absolute;
  bottom: 20px;
  left: 280px;
  background: #F7F8F9;
}

.gridjs-td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gridjs-wrapper {
  overflow: auto;
  max-height: 520px !important;
}

.gridjs-td span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.btnEditFile,
.btnDell,
.btnEdit {
  padding: 14px 8px;
  border-radius: 10px;
  transition: 0.5s;
}

.btnEdit {
  margin-right: 10px;
}

.btnDell {
  padding: 8px 8px;
}

.btnEditFile:hover,
.btnDell:hover,
.btnEdit:hover {
  background: #c6e8ff;
  transition: 0.5s;
}

.gridjs-container {
  max-height: 100%;
  margin-bottom: 20px;
}

.wrapperCalendar {
  position: relative;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px 60px;
  overflow: auto;
}

.calendar {
  max-width: 750px;
  margin: 20px auto 50px;
  padding: 13px;
  border-radius: 5px;
  box-shadow: 1px 2px 30px rgba(10, 46, 104, 0.4784313725);
}

.fc-addEventButton-button {
  width: 167px !important;
  height: 35px !important;
  border-radius: 6px !important;
  color: #EEF1F6 !important;
  background: #18A0FB !important;
  font-weight: 600 !important;
  border: 0px !important;
  transition: 0.6s !important;
}

.fc-addEventButton-button:hover {
  color: #18A0FB !important;
  background: #ffffff !important;
  border: 1px solid #18A0FB !important;
  transition: 0.6s !important;
}

.fc {
  color: #232830 !important;
}

.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background: #FFFFFF !important;
  color: #515353 !important;
  border: 1px solid #8C8E96 !important;
  transition: 0.6s !important;
  border-radius: 6px !important;
}

.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
  color: #18A0FB !important;
  border: 1px solid #18A0FB !important;
  transition: 0.4s !important;
}

@media screen and (max-width: 700px) {
  h1 {
    margin: 30px 0px 30px;
  }
  .row {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuAuth {
    margin: 0px;
    margin-right: 7px;
  }
  .menuRegister {
    margin: 0px;
  }
  .menuAuth input {
    width: 200px;
  }
  .menuRegister input {
    width: 200px;
  }
  .signIn {
    margin: 20px 0px 18px;
  }
  .imageContainer {
    display: none;
  }
  .paginationElement {
    position: absolute;
    bottom: 40px;
    left: 2px;
    background: #F7F8F9;
  }
  .gridjs-footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 70px !important;
    padding: 10px;
    float: none;
  }
  .gridjs-summary {
    margin: 5px 0px 7px 0px !important;
  }
  .gridjs-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridjs-pages {
    float: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fc-toolbar {
    align-items: center !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
  }
  .fc-toolbar-chunk {
    margin-bottom: 7px;
  }
  .fc-toolbar-chunk:nth-child(2) {
    order: 3;
  }
  .calendar {
    margin: 20px auto 40px;
  }
  .profile {
    margin: 20px 20px 20px 0px;
  }
  .wrapperProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableProfile {
    margin: 20px 20px 20px 0px;
    max-width: 100%;
    overflow: auto;
  }
}
@media screen and (max-width: 500px) {
  .gridjs-search {
    float: none !important;
    width: 100% !important;
  }
  .gridjs-search-input {
    padding: 10px 5px !important;
    width: 100%;
  }
  .messege_content {
    min-width: 200px;
  }
  .input_container_flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input_container_flex p {
    margin-bottom: 3px;
  }
  .messege_input {
    width: 200px;
  }
}/*# sourceMappingURL=saas.css.map */